<div class="jumbotron" ng-controller="insertCtrl">
  <h3 class="font-weight-bold">Ajouter une nouvelle personne</h3>
  <p class="lead">
    <img src="images/personIcon.png" ><br>
   </p>
   <form>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Prenom: </span>
    <input type="text" class="form-control" placeholder="Prenom" aria-describedby="basic-addon1" ng-model="name" required>
    <span class="input-group-addon" id="basic-addon1">Nom: </span>
    <input type="text" class="form-control" placeholder="Nom" aria-describedby="basic-addon1" ng-model="lastName" required>
  </div> 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Email: </span>
    <input type="email" class="form-control" placeholder="email" aria-describedby="basic-addon1" ng-model="email" required>
  </div> 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Âge: </span>
    <input type="number" min="0" max="99" class="form-control" placeholder="Âge" aria-describedby="basic-addon1" ng-model="age" required>
  </div> 
  </br>
  </br>
  <div class="alert alert-success alert-dismissible ng-hide" role="alert" ng-hide="!isVisible" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="isVisible = false"><span aria-hidden="true">&times;</span></button>
    <strong>Felicitations!</strong> Personne ajouté dans la base de données.
  </div>
  <button class="btn  btn-success btn-sm" ng-click="insertData()">Ajouter</button>
</form>
</div>

<div ng-controller="MainCtrl">
  <div>
    <h3 class="display-4 text-center">Liste des personnes dans la basse de données: </h3>
  </br>
  </br>
    <table  class="table table-hover table-dark">
      <thead>
        <tr >
          <th scope="col">#</th>
          <th scope="col">Prenom: </th>
          <th scope="col">Nom: </th>
          <th scope="col">Email: </th>
          <th scope="col">Âge: </th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="person in people">
          <th scope="row"> {{$index + 1}}</th>
          <td>{{person.name}}</td>
          <td>{{person.lastName}}</td>
          <td>{{person.email}}</td>
          <td>{{person.age}}</td>
          
        </tr>
       
      </tbody>
    </table>
  </div>
 
</div>
